.mat-toolbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }

  .toolbar-button {
    background-color: #7884c9;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
  }
}