<mat-card class="create-card">
  <mat-card-title class="title">
    Neues ToDo
  </mat-card-title>
  <mat-card-content>

    <app-todo-form (formSubmitted)="createTodo($event)"></app-todo-form>

  </mat-card-content>
  <mat-card-actions>
    <div>
      <button mat-raised-button mat-ripple class="addtodo-button" type="submit" color="primary" (click)="submitTodo()">
        Hinzufügen
      </button>
      <button mat-raised-button mat-ripple class="back-button" (click)="closeForm.emit()">Abbrechen</button>
    </div>
  </mat-card-actions>
</mat-card>