<mat-card class="create-card">
  <mat-card-title class="title">
    Neues ToDo
  </mat-card-title>
  <mat-card-content>

    <form [formGroup]="todoForm" (ngSubmit)="createTodo()">
      <mat-form-field appearance="outline">
        <mat-label>Enter Titel</mat-label>
        <input matInput placeholder="Titel" formControlName="title" (blur)="updateErrorMessage()" required>
        @if (todoForm.invalid) {
        <mat-error>{{errorMessage}}</mat-error>
        }
      </mat-form-field>
      <div>
        <mat-form-field appearance="outline" hintLabel="Max 300 Zeichen" style="width: 600px;">
          <mat-label>Beschreibung</mat-label>
          <textarea matInput #input maxlength="300" placeholder="optional" formControlName="text" rows="5"
                    style="width: 100%;"></textarea>
          <mat-hint align="end">{{input.value.length}}/300</mat-hint>
        </mat-form-field>
      </div>
      <div class="dropdown">
        <mat-form-field class="priority-input">
          <mat-label>Priorität</mat-label>
          <mat-select formControlName="priority">
            <mat-option *ngFor="let priority of priorities" [value]="priority">{{ priority }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="duration-input">
          <mat-label>Laufzeit</mat-label>
          <mat-select formControlName="duration">
            <mat-option *ngFor="let duration of durations" [value]="duration">{{ duration }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-card class="inline-calendar-card">
          <mat-calendar [(selected)]="selected" ></mat-calendar>
        </mat-card>
        <p>Abschlussdatum: {{selected}}</p>
      </div>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <div>
      <button mat-raised-button mat-ripple class="addtodo-button" type="submit" color="primary" (click)="createTodo()">
        Hinzufügen
      </button>
      <button mat-raised-button mat-ripple class="back-button">Abbrechen</button>
    </div>
  </mat-card-actions>
</mat-card>
