.create-card {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  z-index: 2;
  
  .title {
      display: flex;
      align-content: flex-start;
      justify-content: center;
      background-color: rgb(0, 34, 128);
      color: white;
  }
}

mat-card-content {
  max-width: fit-content;
}