<div id="todo-list">
    <mat-card class="todo-card" *ngFor="let todo of todos | async">
        <mat-card-header>
            <mat-card-title>{{todo.title}}</mat-card-title>
            <mat-card-subtitle>{{todo.priority}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{todo.text}}</p>
        </mat-card-content>
        <mat-card-actions class="btn-toggle-done">
            <app-update-todo [todo]="todo"></app-update-todo>
            <!-- <button mat-flat-button color="primary"> edit </button> -->
            <app-delete-todo [todo]="todo"></app-delete-todo>

            <app-status-todo [todo]="todo"></app-status-todo>            
        </mat-card-actions>
    </mat-card>
</div>