#todo-list {

  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 8px;
  margin: 10px;

  .todo-card {
    background-color: #EEE;
    width: 400px;

    mat-card-content {
      margin: 10px 0;
    }

    mat-card-actions {
      margin-top: auto;
      display: flex;
      gap: 5px;
    }
  }
}